<div class="home-intro">
  <div class="jumbo">{{site.heading}}</div>
  <div class="home-sub-text">
    <h3>
      hi there! i'm talia, and this is my digital garden. i plan to use this space as a personal wiki — a place to document the things that i learn about and am interested in, in an interconnected, web-like format where relations and connections are prioritized over chronology. 🌱
      <br><br>
      check out the <a href="{{'/digital-garden-resources' | relative_url}}">digital garden resources</a> or browse the <a href="{{'/notes' | relative_url}}">demo</a>.
    </h3>
  </div>
</div>
