---
layout: Stylesheet
---
@import "fruity.css";

html,
html[data-theme="light"],
html[data-theme="dark"] {
    --color-bg-main: #f4eef7;
    --color-bg-sub: #f4eef7;
    --color-text-main: #7c718a;
    --color-text-sub: #93526b;
    --color-text-link: #4b988d;
    --color-border-dark: #7c718a;
    --color-border: #93526b;
    --color-border-light: #4b988d;
}

@media (prefers-color-scheme: dark) {
    html,
    html[data-theme="dark"] {
        --color-bg-main: #f4eef7;
        --color-bg-sub: #f4eef7;
        --color-text-main: #7c718a;
        --color-text-sub: #93526b;
        --color-text-link: #4b988d;
        --color-border-dark: #7c718a;
        --color-border: #93526b;
        --color-border-light: #4b988d;
    }
}
